<!doctype html>
<html>
  
<title>Mangos</title>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<div class="pure-g">
  <div class="pure-u-1-5"></div>
  <div class="pure-u-3-5">
    <h1>Albert Yeung's and Richard Zhan's Mango Store</h1>
    <hr>
    <h3>Welcome {{u}}!</h3>
    <center><img src="http://www.ingredienten.nl/images/ingredienten/mango-large.jpg"></center>
      <i>Want a view something anyone can view? </i><a href = "/about">About</a>
      <br><i>How about something that's exclusive to users? </i><a href = "/stuff">Stuff</a>
      {# Have not implemented yet #}
      <br><i>Abandon the mango lord? </i><a href = "/logout">Logout</a>
    
  </div>
  
  <div class="pure-u-1-5"></div>





</html>
